 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#mapa {
	width: 100%;
	height: 500px;
}

#lugares .media:hover{
    border: 2px dashed black;
}

#detail img{
    width: 100%;
    height: 180px;
}

